[Unit]
Description = isucon9 qualifier main application in ruby

[Service]
RuntimeDirectory=isucari
WorkingDirectory=/home/isucon/isucari/webapp/ruby
EnvironmentFile=/home/isucon/env.secret.sh
EnvironmentFile=/home/isucon/git/env.sh

ExecStart = /home/isucon/isucari/webapp/run.sh

Restart   = always
Type      = simple
User      = isucon
Group     = isucon

[Install]
WantedBy = multi-user.target
